*{  
    font-family: "Nunito";
}
body{
  background-color: #F3F3F3;
}
.textPrimary{
    color: #67676b;
}
.textHighlight{
    color: #FD9F1A;
}
.textSpan{
    color: #C77201;
}
.bgHighlight{
    background-color: #FD9F1A;
    color: white;
}
.fontXl{
font-size: 1.25rem;
}
.fontLg{
    font-size: 1rem;
    
}

/* font sizes */
@media (min-width: 576px) {
    .fs-sm {
      font-size: 0.85rem; 
    }
  }
  
  @media (min-width: 768px) { 
    .fs-md {
      font-size: 1rem; 
    }
  }
  
  @media (min-width: 992px) {
    .fs-lg {
      font-size: 1.25rem; 
    }
  }
  
  @media (min-width: 1200px) {
    .fs-xl {
      font-size: 3rem; 
    }
  }

  .video-container {
    position: relative;
    padding-bottom: 56.25%; 
    height: 0;
    overflow: hidden;
    max-width: 100%;
    border-radius: 0.5rem;
  }

  .video-container iframe,
  .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #countdown {
    display: flex;
    gap: 10px;
    color: white;
}

.time-block {
    background-color:#FD9F1A;
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    -webkit-border-radius: 50;
    -moz-border-radius: 50;
    -ms-border-radius: 50;
    -o-border-radius: 50;
}

.label {
    font-size: 12px;
    margin-top: 5px;
}
.heroBg{
  background-color: #F2EFEA;
}


/* Ensure all cards have the same height */
.card {
  padding-top: 1rem;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; /* Makes sure cards take up the full height of the container */
}

.card-body {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center the content horizontally */
  text-align: center; /* Center the text */
}

.card-img-top {
  width: 4rem; /* Set width of the image */
  height: 4rem; /* Set height of the image */
  margin: 0 auto; /* Center the image horizontally */
  object-fit: cover; /* Maintain aspect ratio */
}

/* Ensure the card has a consistent height */
.card {
  width: 100%;
  max-width: 15rem; /* Set max width to ensure consistency */
  margin-bottom: 1rem; /* Space between cards */
}
.cShadow{
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.Tc , .cShadow h4{
  color: #586A92;
}
.Why{
  color: #B79D74;
}
.fixed-img {
  position: fixed; /* Fix the position of the image */

  width: 150px; /* Adjust width as needed */
  z-index: 1000; /* Ensure the image stays above other content */
}


#profile-description,#profile-description2,#profile-description3 {
  max-width: 400px; 
  margin-top: 50px; 
  position:relative;
}
#profile-description .text ,#profile-description2 .text,#profile-description3 .text {
  margin-bottom: 5px; 
  color: #777; 
  padding: 0 15px; 
  position:relative; 
  font-size: 14px; 
  display: block;
}
#profile-description .show-more, #profile-description2 .show-more2,#profile-description3 .show-more3 {
/*   width: 690px;  */
  color: #777; 
  position:relative; 
  font-size: 12px; 
  padding-top: 5px; 
  height: 20px; 
  text-align: center; 
  background: #f1f1f1; 
  cursor: pointer;
}
#profile-description .show-more:hover { 
    color: #1779dd;
}
#profile-description .show-more-height,#profile-description2 .show-more-height2,#profile-description3 .show-more-height3 { 
  height: 150px; 
  overflow:hidden; 
}